<div class="top-search-form">
  <h1><%= h1 %></h1>

  <table class="version-select">
    <tr>
    <% @version_names.each do |name| %>
      <th class="version-select<%= version == name ? '-current' : '' %>">
	<%= link_version_select(name) %>
      </th>
    <% end %>
    </tr>
    <tr>
    <% @version_n_entries.each do |n_entries| %>
      <td>
        <span class="version-select-n-entries"><%= h(n_entries) %>件</span>
      </td>
    <% end %>
    </tr>
  </table>

  <form method="POST" action="./">
    <p class="input-form">
      <input id="query-input" type="text" class="query" name="query"
             value="<%= h(query) %>" />
    </p>
    <p class="button">
      <input type="submit" value="検索" />
    </p>
  </form>
  <script type="text/javascript">$("#query-input").focus();</script>
</div>

<div class="built-in-classes-sort-by-frequency list-box">
  <h2>項目数が多い組み込みクラス</h2>
  <dl>
  <% @built_in_classes_sort_by_frequency.each do |(label, classes)| %>
    <dt><%= h(label) %></dt>
    <dd>
      <ol>
      <% classes.each do |klass| %>
        <li><%= link_drilldown_item("class", :label => klass.key.key) %>
            (<%= h(klass.n_sub_records) %>)</li>
      <% end %>
      </ol>
    </dd>
  <% end %>
  </dl>
</div>

<div class="built-in-classes-sort-by-name list-box">
  <h2>組み込みクラス一覧</h2>
  <dl>
  <% @built_in_classes_sort_by_name.each do |(label, classes)| %>
    <dt><%= h(label) %></dt>
    <dd>
      <ol>
      <% classes.each do |klass| %>
        <li><%= link_drilldown_item("class", :label => klass.key.key) %>
            (<%= h(klass.n_sub_records) %>)</li>
      <% end %>
      </ol>
    </dd>
  <% end %>
  </dl>
</div>
