<div class="top-search-form">
  <h1><%= h1 %></h1>

  <table class="version-select">
    <tr>
    <% @version_names.each do |name| %>
      <th class="version-select<%= version == name ? '-current' : '' %>">
	<%= link_version_select(name) %>
      </th>
    <% end %>
    </tr>
    <tr>
    <% @version_n_entries.each do |n_entries| %>
      <td>
        <span class="version-select-n-entries"><%= h(n_entries) %>件</span>
      </td>
    <% end %>
    </tr>
  </table>

  <h2><%= h(catch_phrase) %></h2>
  <form method="POST" action="./">
    <p class="input-form">
      <input id="query-input" type="text" class="query" name="query"
             value="<%= h(query) %>" />
    </p>
    <p class="button">
      <input type="submit" value="検索" />
    </p>
  </form>
  <script type="text/javascript">$("#query-input").focus();</script>
</div>

<div class="top-page-drilldowns">
  <div class="drilldown list-box">
    <h2>組み込みクラス一覧</h2>
    <dl>
    <% @built_in_classes_sort_by_name.each do |(label, classes)| %>
      <dt><%= h(label) %></dt>
      <dd>
	<ol>
	<% classes.each do |klass| %>
	  <li><%= link_drilldown_item("class", :label => klass.key.key) %>
	      (<%= h(klass.n_sub_records) %>)</li>
	<% end %>
	</ol>
      </dd>
    <% end %>
    </dl>
  </div>

  <div class="drilldown list-box">
    <h2>組み込みモジュール一覧</h2>
    <dl>
    <% @built_in_modules_sort_by_name.each do |(label, modules)| %>
      <dt><%= h(label) %></dt>
      <dd>
	<ol>
	<% modules.each do |_module| %>
	  <li><%= link_drilldown_item("module", :label => _module.key.key) %>
	      (<%= h(_module.n_sub_records) %>)</li>
	<% end %>
	</ol>
      </dd>
    <% end %>
    </dl>
  </div>

<% @drilldown_items.each do |key, item| %>
  <div class="drilldown list-box">
    <h2 class="drilldown-<%= h(key) %>"><%= h(parameter_label(key)) %></h2>
    <ul class="drilldown-items">
  <% item.each_with_index do |record, i| %>
      <li class="drilldown-item-<%= h(record[:label]) %>">
        <%= link_drilldown_item(key, record) %>
        (<%= h(record[:n_records]) %>)
      </li>
    <% if ((i + 1) % 2).zero? %>
    </ul>
    <ul class="drilldown-items">
    <% end %>
  <% end %>
    </ul>
  </div>
<% end %>
</div>
