<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title><%= title %></title>
  <link rel="search"
        type="<%= h(open_search_description_mime_type) %>"
        title="<%= h(site_title) %>"
        href="<%= h(open_search_description_path) %>" />
  <link rel="stylesheet" href="/css/rurema.css" type="text/css" media="all" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="icon" href="/favicon.png" />
</head>
<body>
  <div class="header">
    <h1><%= h1 %></h1>
    <div class="search-form">
      <form method="POST" action="./">
	<input type="text" class="query" name="query" value="<%= h(query) %>">
	<input type="submit" value="検索">
      </form>
    </div>
  </div>
  <div class="content">
    <%= body %>
  </div>
  <div class="footer">
    <p class="rurema">
     検索対象のドキュメントは
     <a href="http://redmine.ruby-lang.org/wiki/rurema">るりま</a>
     の成果物です。
    </p>
    <p class="powered-by">
      検索エンジンは
      <a href="http://groonga.org/">groonga</a>
      <%= h(Groonga::VERSION.join(".")) %>
      を使っています。
    <p class="powered-by">
      groongaは
      <a href="http://groonga.rubyforge.org/">rroonga</a>
      <%= h(Groonga::BINDINGS_VERSION.join(".")) %>
      経由で利用しています。
    </p>
    <p class="powered-by">
      Powered by
      <a href="http://www.ruby-lang.org/">Ruby</a> <%= h(RUBY_VERSION) %>.
    </p>
    <p class="powered-by">
      <a href="http://github.com/kou/rurema-search/">るりまサーチのリポジトリ</a>
      は<a href="http://github.com/">GitHub</a>上にありまいす。
    </p>
  </div>
<%= analyze %>
</body>
</html>
