<div class="drilldowns">
<% @drilldown_items.each do |item| %>
  <div class="drilldown list-box">
    <h2 class="drilldown-<%= h(item[:key]) %>">
       <%= h(item[:label] || parameter_label(item[:key])) %>
    </h2>
    <ul class="drilldown-items">
  <% item[:entries].each do |entry| %>
      <li class="drilldown-item-<%= h(entry[:label]) %>">
        <%= link_drilldown_entry(item[:key], entry) %>
        (<%= h(entry[:n_records]) %>)
      </li>
  <% end %>
    </ul>
  </div>
<% end %>
</div>

<div class="result">
<%= paginate %>
  <h2>検索結果</h2>
  <div class="quick-link-box">
    <h3 class="quick-link-title">先頭<%= @leading_grouped_entries.size %>件</h3>
    <ol class="quick-links">
<%    @leading_grouped_entries.each_with_index do |(represent_entry, entries), i| %>
    <li><a href="#entry-<%= i %>"><%= entry_label(represent_entry) %></a></li>
<%    end %>
    </ol>
  </div>

  <dl class="entries">
<%  @grouped_entries.each_with_index do |(represent_entry, entries), i| %>
    <dt class="entry-name" id="entry-<%= i %>">
      <div>
        <h3>
	  <span class="signature">
	    <%= entry_label(represent_entry) %>
	  </span>
	  <span class="score">(<%= h(represent_entry.score) %>)</span>
	</h3>
	<ul class="entry-metadata">
	  <li class="entry-type">
	    <span class="entry-<%= h(represent_entry.type.key) %>">
	      <%= link_type(represent_entry) %>
	    </span>
	  </li>
	</ul>
      </div>
    </dt>
    <dd>
      <div class="entry-summary">
        <p><%= h(remove_markup(represent_entry.summary)) %></p>
      </div>
<%    entries.each do |entry| %>
      <div class="entry-description">
        <span class="entry-version">
          <%= link_version_select(entry.version.key) %>
        </span>
        <%= snippet_description(entry) %>
	<span class="entry-link">
	  <%= link_entry(entry, :label => h("全部読む")) %>
	</span>
      </div>
<%    end %>
      <ul class="entry-related-entries">
<%    collect_related_entries(entries).each_with_index do |related_entry, j| %>
<%      if j < 20 %>
        <li class="entry-related-entry-<%= h(related_entry[:type]) %>">
          <%= link_related_entry(related_entry) %>
        </li>
<%      else %>
        <li class="entry-related-entry-abbrev">...</li>
<%        break %>
<%      end %>
<%    end %>
      </ul>
<%    if ((i + 1) % 5).zero? %>
      <p class="jump-to-top"><a href="#top">絞り込み条件を変える</a></p>
<%    end %>
    </dd>
<%  end %>
  </dl>
<%= paginate %>
</div>
