<div class="version-select">
  <ul>
    <li class="version-select<%= version.nil? ? '-current' : '' %>">
      <%= link_version_select(:all) %>
    </li>
<% @versions.each do |_version| %>
    <li class="version-select<%= version == _version.key ? '-current' : '' %>">
      <%= link_version_select(_version.key) %>
    </li>
<% end %>
  </ul>
</div>

<div class="statistics">
  <span class="total"><%= h("#{@n_entries}件ヒット") %></span>
  <span class="elapsed-time"><%= h("（%.3f秒）" % @elapsed_time) %></span>
</div>

<div class="topic-path">
  <%= topic_path %>
</div>

<div class="search-result">
<% if @n_entries.zero? %>
<%= search_no_result %>
<% else %>
<%= search_result %>
<% end %>
</div>
