<div class="version-select">
  <ul>
    <li class="version-select<%= version.nil? ? '-current' : '' %>">
      <%= link_version_select(:all) %>
    </li>
<% @versions.each do |_version| %>
    <li class="version-select<%= version == _version.key ? '-current' : '' %>">
      <%= link_version_select(_version.key) %>
    </li>
<% end %>
  </ul>
</div>

<div class="statistics">
  <span class="total"><%= h("#{@n_entries}件ヒット") %></span>
  <span class="elapsed-time"><%= h("（%.3f秒）" % @elapsed_time) %></span>
</div>

<div class="topic-path">
  <%= topic_path %>
</div>

<% if @n_entries.zero? %>
<div class="no-result">
  <p>見つかりませんでした。検索条件を変えてみませんか？</p>
  <ul>
<% if @ordered_parameters.size <= 1 %>
    <li><a href="/">全件表示</a></li>
<% else %>
<%   @ordered_parameters.each do |key, value| %>
    <li>
      <a href="/<%= parameter_link_href(key, value) %>">
          「<%= h(parameter_link_label(key, value)) %>」だけで検索
      </a>
    </li>
<%   end %>
<% end %>
  </ul>
</div>
<% else %>
<div class="result">
  <div class="drilldowns">
<% @drilldown_items.each do |key, item| %>
    <div class="drilldown">
      <h2><%= h(parameter_label(key)) %></h2>
  <% item.each do |record| %>
      <span class="drilldown-item">
        <%= link_drilldown_item(key, record) %>
        (<%= h(record[:n_records]) %>)
      </span>
  <% end %>
    </div>
<% end %>
  </div>

<%= paginate %>
  <dl class="entries">
<%  @grouped_entries.each do |represent_entry, entries| %>
    <dt class="entry-name">
      <%= link_entry(represent_entry) %>
      <span class="score">(<%= h(represent_entry.score) %>)</span>
    </dt>
    <dd>
<%    entries.each do |entry| %>
      <div class="entry-description">
        <span class="entry-version"><%= link_version(entry) %></span>
        <%= format_description(entry) %>
      </div>
<%    end %>
      <ul class="entry-metadata">
        <li class="entry-type"><%= link_type(represent_entry) %></li>
      </ul>
      <ul class="entry-related-entries">
<%    collect_related_entries(entries).each_with_index do |related_entry, i| %>
<%      if i < 20 %>
        <li class="entry-related-entry"><%= link_related_entry(related_entry) %></li>
<%      else %>
        <li class="entry-related-entry-abbrev">...</li>
<%        break %>
<%      end %>
<%    end %>
      </ul>
    </dd>
<%  end %>
    </tbody>
  </dl>
<%= paginate %>
</div>
<% end %>
