<div class="statistics">
  <span class="total"><%= h("#{@n_entries}件ヒット") %></span>
  <span class="elapsed-time"><%= h("（%.3f秒）" % @elapsed_time) %></span>
</div>

<div class="result">
<%= paginate %>
  <table class="entries">
    <thead>
      <tr>
        <th>名前</th>
        <th>種類</th>
        <th>バージョン</th>
        <th>内容</th>
      </tr>
    </thead>
    <tbody>
<%  @entries.each do |entry| %>
      <tr>
        <td><%= link_entry(entry) %></td>
        <td><%= link_type(entry) %></td>
        <td><%= h(entry.version.key) %></td>
        <td><%= h(entry.description) %></td>
      </tr>
<%  end %>
    </tbody>
  </table>
<%= paginate %>
</div>
