<div class="drilldowns">
<% @drilldown_items.each do |key, item| %>
  <div class="drilldown">
    <h2 class="drilldown-<%= h(key) %>"><%= h(parameter_label(key)) %></h2>
    <ul class="drilldown-items">
  <% item.each do |record| %>
      <li class="drilldown-item-<%= h(record[:label]) %>">
        <%= link_drilldown_item(key, record) %>
        (<%= h(record[:n_records]) %>)
      </li>
  <% end %>
    </ul>
  </div>
<% end %>
</div>

<div class="result">
<%= paginate %>
  <dl class="entries">
<%  @grouped_entries.each_with_index do |(represent_entry, entries), i| %>
    <dt class="entry-name">
      <%= link_entry_if(entries.size == 1, represent_entry) %>
      <span class="score">(<%= h(represent_entry.score) %>)</span>
    </dt>
    <dd>
<%    entries.each do |entry| %>
      <div class="entry-description">
        <span class="entry-version">
          <%= link_entry(entry, :label => h(entry.version.key)) %>
        </span>
        <%= format_description(entry) %>
      </div>
<%    end %>
      <ul class="entry-metadata">
        <li class="entry-type">
          <span class="entry-<%= h(represent_entry.type.key) %>">
            <%= link_type(represent_entry) %>
          </span>
        </li>
      </ul>
      <ul class="entry-related-entries">
<%    collect_related_entries(entries).each_with_index do |related_entry, j| %>
<%      if j < 20 %>
        <li class="entry-related-entry-<%= h(related_entry.type.key) %>">
          <%= link_related_entry(related_entry) %>
        </li>
<%      else %>
        <li class="entry-related-entry-abbrev">...</li>
<%        break %>
<%      end %>
<%    end %>
      </ul>
<%    if ((i + 1) % 5).zero? %>
      <p class="jump-to-top"><a href="#top">絞り込み条件を変える</a></p>
<%    end %>
<%  end %>
    </dd>
  </dl>
<%= paginate %>
</div>
