<div class="version-select">
  <ul>
    <li class="version-select<%= @version.nil? ? '-current' : '' %>">
      <%= link_version_select(:all) %>
    </li>
<% @versions.each do |version| %>
    <li class="version-select<%= @version == version.key ? '-current' : '' %>">
      <%= link_version_select(version.key) %>
    </li>
<% end %>
  </ul>
</div>

<div class="statistics">
  <span class="total"><%= h("#{@n_entries}件ヒット") %></span>
  <span class="elapsed-time"><%= h("（%.3f秒）" % @elapsed_time) %></span>
</div>

<div class="topic-path">
  <%= topic_path %>
</div>

<% if @n_entries.zero? %>
<div class="no-result">
  <p>見つかりませんでした。検索条件を変えてみませんか？</p>
  <ul>
<% if @ordered_parameters.size <= 1 %>
    <li><a href="/">全件表示</a></li>
<% else %>
<%   @ordered_parameters.each do |key, value| %>
    <li>
      <a href="/<%= parameter_link_href(key, value) %>">
          「<%= h(parameter_link_label(key, value)) %>」だけで検索
      </a>
    </li>
<%   end %>
<% end %>
  </ul>
</div>
<% else %>
<div class="result">
  <div class="drilldowns">
<% @drilldown_items.each do |label, item| %>
    <div class="drilldown">
      <h2><%= h(label) %></h2>
  <% item.each do |record| %>
      <span class="drilldown-item">
        <%= link_type_raw(record[:label]) %>
        (<%= h(record[:n_records]) %>)
      </span>
  <% end %>
    </div>
<% end %>
  </div>

<%= paginate %>
  <dl class="entries">
<%  @entries.each_with_index do |entry, i| %>
    <dt class="entry-name">
      <%= link_entry(entry) %>
      <span class="socre">(<%= h(entry.score) %>)</span>
    </dt>
    <dd>
      <div class="entry-description"><%= format_description(entry) %></div>
      <ul class="entry-metadata">
        <li class="entry-version"><%= link_version(entry) %></li>
        <li class="entry-type"><%= link_type(entry) %></li>
<%    related_entries(entry).each_with_index do |related_entry, i| %>
<%      if i < 20 %>
        <li class="entry-related"><%= link_related_entry(related_entry) %></li>
<%      else %>
        <li class="entry-related-abbrev">...</li>
<%        break %>
<%      end %>
<%    end %>
      </ul>
    </dd>
<%  end %>
    </tbody>
  </dl>
<%= paginate %>
</div>
<% end %>
