<div class="drilldowns">
<% @drilldown_items.each do |key, item| %>
  <div class="drilldown">
    <h2><%= h(parameter_label(key)) %></h2>
    <ul class="drilldown-items">
  <% item.each do |record| %>
      <li class="drilldown-item">
        <%= link_drilldown_item(key, record) %>
        (<%= h(record[:n_records]) %>)
      </li>
  <% end %>
    </ul>
  </div>
<% end %>
</div>

<div class="result">
<%= paginate %>
  <dl class="entries">
<%  @grouped_entries.each do |represent_entry, entries| %>
    <dt class="entry-name">
      <%= link_entry(represent_entry) %>
      <span class="score">(<%= h(represent_entry.score) %>)</span>
    </dt>
    <dd>
<%    entries.each do |entry| %>
      <div class="entry-description">
        <span class="entry-version"><%= link_version(entry) %></span>
        <%= format_description(entry) %>
      </div>
<%    end %>
      <ul class="entry-metadata">
        <li class="entry-type"><%= link_type(represent_entry) %></li>
      </ul>
      <ul class="entry-related-entries">
<%    collect_related_entries(entries).each_with_index do |related_entry, i| %>
<%      if i < 20 %>
        <li class="entry-related-entry"><%= link_related_entry(related_entry) %></li>
<%      else %>
        <li class="entry-related-entry-abbrev">...</li>
<%        break %>
<%      end %>
<%    end %>
      </ul>
    </dd>
<%  end %>
    </tbody>
  </dl>
<%= paginate %>
</div>
